.btn {
  font-size: .8rem;
  font-weight: 700;
  border-radius: 3px;
  background-color: @brandPrimary;
  box-shadow: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  border: 2px solid @brandPrimary;
  line-height: 43px;
  text-decoration: none;
   -webkit-transition: -moz-transform .3s ease-out; 
   -moz-transition: -webkit-transform .3s ease-out; 
   -o-transition: -o-transform .3s ease-out; 
    transition: transform .3s ease-out; 
    
  &:hover {
    opacity:0.9;
  }
}

.btn:active{
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.app-store {
  display: inline-block;
  width: 130px;
  height: auto;
  background-color: transparent;
  border: none;
}
    
.calculate {
  height: 43px;
  width: 120px;
  margin-top: 1.5rem;
}

.sign-up {
  height: 37px;
  width: 120px;
  line-height: 36px;
  border: 2px solid #fff;
  background-color: transparent;

  &:hover {
      background-color: #fff;
      border: 2px solid #fff;
      color: @brandLight;
  }
}

.send {
  height: 40px;
  width: 120px;
  line-height: 37px;
  font-weight: 700;
  float: right;
  margin-right: 6px;
}


.get-started {
  height: 37px;
  width: 120px;
  line-height: 36px;

  &:hover {
      opacity: 0.9;
  }
}

.learn-more {
  height: 37px;
  width: 120px;
  line-height: 36px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;

  &:hover {
      background-color: #fff;
      color: @brandPrimary;
  }
}

