.btn {
    color: #fff;
    background-color: @brandPrimary;
    letter-spacing: 1px;
    width: 185px;
    height: 55px;
    line-height: 55px;
    box-shadow: 0 2px 20px rgba(236, 82, 151, 0.3);
    font-weight: 700;
    font-size: 0.9em;
    position: relative;
    display: block;
    font-family: @brandBody;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
    text-transform: uppercase;
    text-align: center;
}

.center .btn {
    margin: 0 auto;
}

a {
    background-color: transparent;
    outline: 0;
    text-decoration: none;
}






