<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/reset.css"> 
    <link rel="stylesheet" href="css/project.css"> 
    <script src="js/modernizr.js"></script> 
    
    <title>Arete Development Group</title>
</head>
<body>
    <header>
        <a id="logo" href="#0"><img src="img/logo.png" alt="Homepage"></a>
        <a id="menu-trigger" href="#0"><span class="menu-text">Menu</span><span class="menu-icon"></span></a>
    </header>

    <main class="main-content clearfix">
        <section class="img-header">
            <div class="overlay">
                <div class="flex">
                    <div class="flex-item">    
                        <h1>Advising</h1>
                    </div>
                </div>
            </div>
            <div class="hero" style="background-image:url('img/desk.jpg')">
            </div>
        </section>

        <section class="stripe-med heading-block">
            <div class="container">
                <h1>Nation Building Strategies</h1>
                <p class="sub-header">Tribal nations have unique needs. What separates Areté Development Group, LLC from the ordinary is the connection between Nation Building Strategies that reflect a vision and actionable steps. Areté will energize to lead, helping bridge the gap between where you are… and where you need to be!</p>
            </div>  
            
            <div class="stripe-sml">
                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% from _self import errorList %}

                <form method="post" action="" accept-charset="UTF-8" class="contact">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="contactForm/sendMessage">
                    <input type="hidden" name="redirect" value="contact/thanks">

                    <h3><label for="fromName">Your Name</label></h3>
                    <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                    <h3><label for="fromEmail">Your Email</label></h3>
                    <input id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                    <h3><label for="subject">Subject</label></h3>
                    <input id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
                    {{ message is defined and message ? errorList(message.getErrors('subject')) }}

                    <h3><label for="message">Message</label></h3>
                    <textarea rows="6" cols="20" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}

                    <input type="submit" value="Get In Touch" class="btn-primary">
                </form>
            </div>
        </section>   


        <footer>
            <div class="stripe-xs">
                <div class="container">
                    <div class="contact">
                        <span class="copyright">&copy; 2016 Arete Development Group</span>    
                        <a href="tel:1-406-370-4593">
                            406.370.4593
                        </a>
                        <a href="https://www.google.com/maps/place/605+Preston+St,+Missoula,+Mt+59804/@46.8668943,-114.050979,18.95z/data=!4m2!3m1!1s0x535dce0409d6d547:0x15009fd884d9465e" target="_blank">    
                            605 Preston Street Missoula, MT 59804 
                        </a>
                    </div>
                    <div class="social">
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/AreteDG" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/jason-campbell-242aba36" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>   
    </main> 

    <nav id="lateral-nav">
        <ul class="navigation">
            <li class="item-has-children">
                <a href="#0">Services</a>
                <ul class="sub-menu">
                    <li><a href="#0">Advising</a></li>
                    <li><a href="#0">Training</a></li>
                    <li><a href="#0">Research</a></li>
                </ul>
            </li> 

            <li class="item-has-children">
                <a href="#0">Resources</a>
                <ul class="sub-menu">
                    <li><a href="#0">Business Plan</a></li>
                    <li><a href="#0">Finance and Money</a></li>
                    <li><a href="#0">Endoresements</a></li>
                </ul>
            </li> 
        </ul> 

        <ul class="navigation single-item-wrapper">
            <li><a href="#0">About</a></li>
            <li><a href="#0">Contact</a></li>
        </ul> 

        <div class="navigation socials">
            <a href="#0"><i class="fa fa-facebook"></i></a>
            <a href="#0"><i class="fa fa-linkedin"></i></a>
        </div>
    </nav>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> 
</body>
</html>