{% extends "_layout" %}

{% block content %}

        homepage
        
        <!-- <div class="content" id="index-content">
           <p class='animal' id='dog'>dog url</p>
            <div id='dogcontent' class='animalcontent'>Doggiecontent!</div>
            
            <p class='animal' id='cat'>cat url</p>
            <div id='catcontent' class='animalcontent'>Pussiecontent!</div>
            
            <p class='animal' id='snake'>snake url</p>
            <div id='snakecontent'class='animalcontent'>Snakecontent!</div>
        </div> -->

          
{% endblock %}
  